{# app/Resources/views/pv/dashboard.html.twig #}
{% extends 'pvbase.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<p>Aktueller Verbrauch: {{ pvdata.consume|number_format(1,'.','') }} Watt<br />
Aktuelle Produktion:    {{ pvdata.site|number_format(1,'.','') }} Watt<br />
Aktuelle Lieferung:     {{ pvdata.deliver|number_format(1,'.','')}} Watt<br />
Aktueller Bezug:        {{ pvdata.receive|number_format(1,'.','') }} Watt</p>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

       {% block javascripts %}
                <script src="{{ absolute_url(asset('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')) }}"></script>
                <script src="{{ absolute_url(asset('https://code.highcharts.com/highcharts.js')) }}"></script>
                <script src="{{ absolute_url(asset('https://code.highcharts.com/modules/exporting.js')) }}"></script>
      {% endblock %}


<script type="text/javascript" >
 $(function () {
    var x_values = [];
    var y_values_receive = [];
    var y_values_deliver = [];
    var y_values_site = [];

    {% for entry in pvdata.events %}
        var ts = '{{entry.measuringtime|date('d m Y H:i:s')}}';
        x_values.push(ts);
        y_values_receive.push( {{entry.wattReceive|number_format(1,'.','') }} );
        y_values_deliver.push( {{entry.wattDeliver|number_format(1,'.','') }} );
        y_values_site.push( {{entry.sitepower|number_format(1,'.','') }} );
    {% endfor %}

    $('#container').highcharts({

           chart: {
               type: 'spline',
               zoomType: 'x'
           },
           title: {
               text: 'Tagesverlauf'
           },
           subtitle: {
               text: 'Gäbrisstrasse 43a'
           },
           xAxis : {
               title : {
                   text : 'Uhrzeit'
               },
               tickInterval : 30,
               categories : x_values,
               type: 'datetime'
           },
           yAxis: {
               title: {
                   text: 'Leistung [Watt]'
               },
               min: 0
           },

           plotOptions: {
               spline: {
                   marker: {
                       enabled: false
                   }
               }
           },
/*	  tooltip: {
		  dateTimeLabelFormats: hour:"%A, %b %e, %H:%M:%S"
	  },        	
  */        series: [{
               name: 'Bezug Netz',
               data: y_values_receive
           }, {
               name: 'Rückspeisung Netz',
               data: y_values_deliver
           }, {
               name: 'Produktion',
               data: y_values_site
        }]
    });
});
</script>

{% endblock %}

