{# app/Resources/views/show/meterentries.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Einträge{% endblock %}

{% block body %}
<div id="chart" style="height: 400px; margin: 0 auto"></div>   
    <h1>alle Einträge</h1>
        <table>
           {% for entry in allmeterdata %}
           <tr>
               <td>ID:</td><td> {{entry.id }}</td>
               <td>Messung:</td><td>{{entry.measuringtime|date('d.m.Y H:i:s') }}</td>
               <td>Watt:</td><td>{{ entry.sitepower }}</td> 
               <td>Tarif:</td><td>{{ entry.tariff }}</td>
               <td>deltaT:</td><td>{{ entry.timediff }}</td>
               <td>P:</td><td>{{ entry.wattnet|number_format(1,'.','') }}</td>
           </tr>
           {% endfor %}
      </table>
{% endblock %}
