{# app/Resources/views/show/meterentries.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Einträge{% endblock %}

{% block body %}
    <h1>alle Einträge</h1>
        <table>
           {% for entry in allmeterdata %}
           <tr>
               <td>ID: {{entry.id }}</td>
               <td>Messung: {{entry.measuringtime|date('d.m.Y H:i:s') }}</td>
               <td>Watt: {{ entry.sitepower }}</td> 
               <td>Tarif: {{ entry.tariff }}</td>
               <td>deltaT: {{ entry.timediff }}</td>
               <td>P: {{ entry.wattnet|number_format(1,'.','') }}</td>
           </tr>
           {% endfor %}
      </table>
{% endblock %}
